<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/{{ site.github_username }}"><img src="/assets/github.svg"/>  GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/carlossanlop/carlossanlop.github.io"><img src="/assets/repo.svg"/> Repo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" rel="me" href="https://dotnet.social/@foo_fighter"><img src="/assets/mastodon.svg"/> Mastodon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="{{ site.linkedin_url }}"><img src="/assets/linkedin.svg"/> LinkedIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><img src="/assets/twitter.svg"/> Twitter</a>
    </li>
  </ul>
</div>