<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/{{ site.github_username }}"><img src="/assets/github.svg" width="20" />  GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/carlossanlop/carlossanlop.github.io"><img src="/assets/repo.svg" width="20" /> Repo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" rel="me" href="https://dotnet.social/@{{ site.mastodon_username }}"><img src="/assets/mastodon.svg" width="20" /> Mastodon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/assets/linkedin.svg" width="20" /> LinkedIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://bsky.app/profile/{{ site.bluesky_username }}"><img src="/assets/bluesky.svg" width="20" /> Bluesky</a>
    </li>
  </ul>
</div>